body {
    font-family: Arial, sans-serif;
    margin: 40;
    padding: 0;
  }
  
 
  .search-container {
    float: right;
    margin-top: 10px;
  }
  
  .search-container input[type=text] {
    padding: 8px;
    margin-top: 10px;
    font-size: 17px;
    border: none;
    border-radius: 5px;
  }
  
  .search-container button {
    float: right;
    padding: 8px 10px;
    margin-top: 10px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

  .styled-header {
    background-color: rgb(72, 0, 255);
    color: white;
}

  .fileLinks:hover {
    text-decoration: underline;
  }

  .rounded-img {
    width: 20%; /* Adjust the width as needed */
    height: auto; /* Automatically adjusts the height to maintain aspect ratio */
    max-width: 50px; /* Limit the maximum width to 50px */
    border-radius: 50%; /* This will make the image round */
    object-fit: cover; /* This ensures the image fills the container without distortion */
}
