body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0px;
    background-color: #f0f0f0;
}

h1, h2 {
    color: #333;
}

#document-form {
    margin-bottom: 0px;
    background-color: #fff;
    padding: 0px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

form {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 6px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

#document-list {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.1);
}

.document-box {
    background-color: #4400ff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 800px;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #45a049;
}


#document-list ul {
    list-style-type: none;
    padding: 0;
}

#document-list li {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}

#document-list form {
    margin-top: 10px;
}

#document-list form input[type="submit"] {
    background-color: #f44336;
}

#document-list form input[type="submit"]:hover {
    background-color: #d32f2f;
}
